<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<meta name="keywords" content="astronomy software, C, C++, Java"/>
<meta name="author" content="Attila Kovacs"/>
<meta name="copyright" content="(C)2026 Attila Kovacs" />
<meta name="robots" content="index,follow"/>
<meta property="og:image" content="https://sigmyne.github.io/SuperNOVAS/images/Sigmyne-logo-800x175.png" />
<meta name="twitter:image" content="https://sigmyne.github.io/SuperNOVAS/images/Sigmyne-logo-800x175.png" />

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico">
<link rel="icon" type="image/png" sizes="192x192" href="/resources/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/resources/android-chrome-512x512.png">
<link rel="apple-touch-icon" type="image/x-icon" href="/resources/apple-touch-icon.png">

<title>Sigmyne, LLC</title>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Corporation",
  "name": "Sigmyne, LLC",
  "duns": "080494592",
  "email": "attila@sigmyne.com",
  "founder": {
    "name": "Attila Kovács",
    "affiliation": "Sigmyne, LLC",
    "url": "https://www.sigmyne.com/attila"
  },
  "keywords": "astronomy software development, astronomical imaging pipeline, telescope control system"
  "url": "https://sigmyne.github.io/"
}
</script>

<!-- end custom head snippets -->
